<nav class="navbar navbar-expand topbar mb-4 static-top fixed-top" id="bgcolors">
  <div class="row" id="section1">
    <div class="col-md-3" style="height: 40px;">
      <div class="search">
        <span><i class="fa fa-map-marker"></i></span>
        <input class="form-control" placeholder="Location..." type="text" [(ngModel)]="autocompleteInput" #addresstext
          style="padding: 7px 30px; border: 1px solid #ccc;border-radius:5px; width:100%;color:#36C6E1;">
      </div>
    </div>
    <div style="width:1%"></div>
    <div class="col-md-3" style="height: 40px;">
      <div class="search">
        <span><i class="fa fa-search"></i></span>
        <input placeholder="Search..." class="form-control" style="width:100%">
      </div>
    </div>
    <div style="height: 40px;width:5%;">
    </div>
    <div style="height: 40px;">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="color:#36C6E1;background-color: #fff;border-color: #fff;font-weight: bold;">En
        <span class="caret" style="color:#36C6E1;"></span>
      </button>
        <ul class="dropdown-menu">
          <li><a href="#">Ma</a></li>
          <li><a href="#">Ar</a></li>
          <li><a href="#">Ch</a></li>
        </ul>
      </div>
    </div>
    <div style="height: 40px;">
      <button class="btn btn-xs btn-link" style="font-size:20px;">
        <i class="fa fa-bell" style="color:#fff"></i>
      </button>
    </div>
    <div style="width:5%"></div>
    <div class="row" style="background-color: #fff;height: 40px;border-radius: 5px;width:10%;">
      <p style="color:#36C6E1;font-weight:bold;margin-top: 6%;margin-left:3%;width:80%">12.5 KWD &nbsp;</p>
      <i class="fa fa-shopping-cart" style="color:#36C6E1;margin-top: 8%;margin-left:-3%;"></i>
      <span class="dot">3</span>
    </div>
    
    <div style="width:3%"></div>
    <div class="col-md-1" style="background-color:#fff;height: 40px;border-radius: 5px;">
      <div class="row">
        <i class="fa fa-user-circle" style="color:#36C6E1;font-size: 20px;margin-top: 8%;margin-left: 8%;"></i>
        <p style="color:#36C6E1;font-weight:bold;margin-top: 6%;margin-left: 8%;">Name</p>
      </div>
      
    </div>
  </div>
  
</nav>