<div class="col-md-12">
    <div class="row">
        <div class="col-md-8">
            <p style="color: #36C6E1;margin-top:10%">Total (3) items</p>
        </div>
        <div class="col-md-4">

        </div>
    </div>
    <div class="row">
        <div class="col-md-8 items">
            <div class="card card-item">
                <div class="row col-md-12">
                    <div class="col-md-2" style="justify-content: center;align-items: center;">
                        <img src="../../../assets/Images/dinner.png" height="120px;" width="120px;" />
                    </div>
                    <div class="col-md-6" style="background-color: #fff;justify-content: center;align-items: center;">
                        <div justify-content-center>
                            <p style="font-weight: bold;margin-top: 3%;"><strong>Super Dinner</strong></p>
                            <p class="text-hint">KFC Salmiya</p>
                            <p><strong>2.350 x 1 = 2.350 KD</strong></p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row" style="justify-content: center;align-items: center;margin-top: 25%;">
                            <button class="btn btn-default" style="border-color:grey;"><span><i class="fa fa-minus"
                                        aria-hidden="true"></i></span></button>
                            <input type="text"
                                style="width:40px;height:40px;border-color:transparent;background-color: #E9EDF0;" />
                            <button class="btn btn-default" style="border-color:grey;"><span><i class="fa fa-plus"
                                        aria-hidden="true"></i></span></button>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-8 items">
            <div class="card card-item">
                <div class="row col-md-12">
                    <div class="col-md-2" style="justify-content: center;align-items: center;">
                        <img src="../../../assets/Images/dinner.png" height="120px;" width="120px;" />
                    </div>
                    <div class="col-md-6" style="background-color: #fff;justify-content: center;align-items: center;">
                        <div justify-content-center>
                            <p style="font-weight: bold;margin-top: 3%;"><strong>Super Dinner</strong></p>
                            <p class="text-hint">KFC Salmiya</p>
                            <p><strong>2.350 x 1 = 2.350 KD</strong></p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row" style="justify-content: center;align-items: center;margin-top: 25%;">
                            <button class="btn btn-default" style="border-color:grey;"><span><i class="fa fa-minus"
                                        aria-hidden="true"></i></span></button>
                            <input type="text"
                                style="width:40px;height:40px;border-color:transparent;background-color: #E9EDF0;" />
                            <button class="btn btn-default" style="border-color:grey;"><span><i class="fa fa-plus"
                                        aria-hidden="true"></i></span></button>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-8 items">
            <div class="card card-item">
                <div class="row col-md-12">
                    <div class="col-md-2" style="justify-content: center;align-items: center;">
                        <img src="../../../assets/Images/dinner.png" height="120px;" width="120px;" />
                    </div>
                    <div class="col-md-6" style="background-color: #fff;justify-content: center;align-items: center;">
                        <div justify-content-center>
                            <p style="font-weight: bold;margin-top: 3%;"><strong>Super Dinner</strong></p>
                            <p class="text-hint">KFC Salmiya</p>
                            <p><strong>2.350 x 1 = 2.350 KD</strong></p>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="row" style="justify-content: center;align-items: center;margin-top: 25%;">
                            <button class="btn btn-default" style="border-color:grey;"><span><i class="fa fa-minus"
                                        aria-hidden="true"></i></span></button>
                            <input type="text"
                                style="width:40px;height:40px;border-color:transparent;background-color: #E9EDF0;" />
                            <button class="btn btn-default" style="border-color:grey;"><span><i class="fa fa-plus"
                                        aria-hidden="true"></i></span></button>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        
        <!-- </div> -->
        <div class="col-md-3 total">
            <button class="btn btn-primary"
                style="float: right;width:70%;background-color:#36C6E1;border-color: #36C6E1;">Back to Shops</button>
            <div class="card card-total" style="align-items: center;">
                <div style="margin-top:5%;text-align: right;">
                    <!-- <p style="font-weight: bold;">Sub Total({{product.quantity}} Items):KD {{product.price}}</p> -->
                    <p style="font-weight: bold;">Sub Total(3 Items):KD 10.5</p>
                    <p >Promo Discount:KD 2</p><br>
                    <p style="font-weight: bold;color: #36C6E1;"> Total:KD 8.5</p>
                </div><br>
                <button class="btn btn-primary" style="background-color: #36C6E1;border-radius:50px;border-color: transparent;width:50%;">CHECKOUT</button>

            </div>
        </div>
    </div>
    
</div>