<div class="col-md-12">
    <div class="total">
        <button class="btn btn-primary"
            style="float: right;width:70%;background-color:#36C6E1;border-color: #36C6E1;">Back to Shops</button>
        <div class="card card-total" style="align-items: center;">
            <div style="margin-top:5%;text-align: right;">
                <!-- <p style="font-weight: bold;">Sub Total({{product.quantity}} Items):KD {{product.price}}</p> -->
                <p style="font-weight: bold;">Sub Total(3 Items):KD 10.5</p>
                <p >Promo Discount:KD 2</p><br>
                <p style="font-weight: bold;color: #36C6E1;"> Total:KD 8.5</p>
            </div><br>
            <button class="btn btn-primary" style="background-color: #36C6E1;border-radius:50px;border-color: transparent;width:50%;">CHECKOUT</button>
    
        </div>
    </div>
</div>
