
.items{
    /* background-color: blueviolet; */
    height:150px;
    /* margin-top: 10%; */
    }
    .total{
        /* background-color: rgb(49, 226, 43); */
        height:300px;
        /* margin-top: 10%;   */
    }
    .card-item{
        background-color: #fff(226, 141, 43);
    height:150px;
    border-radius: 15px;
    }
    .card-total{
        background-color: #fff(43, 70, 226);
    height:250px;
    margin-top:15%;
    border-radius:15px;
    width:100%;
    }