/* You can add global styles to this file, and also import other style files */

#bgcolors{
  background-color: #36C6E1;
  height: 10%;
  align-items: center;
  justify-content: center;
}

@import "~bootstrap/dist/css/bootstrap.css";

@import "~font-awesome/css/font-awesome.css";
body {
  min-height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #F5F5F5 0%, #F5F5F5 100%);
}

 #section1{
    height:90%;
    width:99%;
    align-items: center;
  justify-content: center;
}
.search input { 
   font-family:  FontAwesome, sans-serif;
}
.search { 
  position: relative; 
  margin: 0 auto ;
  text-align: center;
}
::placeholder{
  color: #36C6E1!important;
  font-weight:bold ;
}
.search .fa-search { 
  position: absolute;
  top: 15%;
  left: 88%;
  font-size: 20px;
  color:#6E7376
}
.search .fa-map-marker { 
  position: absolute;
  top: 15%;
  left: 88%;
  font-size: 20px;
  color:#36C6E1
}
.fa-bell { 
  position: absolute;
  top:35%;
  left:69%;
  font-size: 20px;
  color:#fff;
}
.dot {
  position: absolute;
  height:15px;
  width:15px;
  margin-left:8%;
  margin-top: 0%;
  background-color: #E5D169;
  color: #fff;
  font-size: 10px;
  display: inline-block;
  padding-left:5px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

